<div style="border: 1px solid #000; padding: 20px; margin: 20px;">
	<h1>{{title}}</h1>
	<p>{{description}}</p>
	<p>Código: {{code}}</p>
	<p>Categoría: {{category}}</p>
	<p>Precio: ${{price}}</p>
	<p>Stock disponible: {{stock}}</p>
	<button onclick="addToCart('ID_DE_UN_CARRITO_PARA_PROBAR', '{{_id}}')">Agregar
		al Carrito</button>
	<br /><br />
	<a href="/products">Volver al listado</a>
</div>